/*
==================== Page 1 ====================
*/

.pg1 {

}
.pg1 h1 {
   text-align: center;
}

/*
==================== Page 2 ====================
*/

.pg2 {
   display: block;
}
.pg2 .row {
   display: flex;
   flex-grow: 1;
   flex-direction: row;
   overflow-y: visible;
   overflow-x: visible;
   transition-duration: 200ms !important;
}
@media only screen and (max-width: 480px) {
	.pg2 .row {
		display: block;
	}
}
.pg2 .message {
	justify-content: center;
	text-align: center;
	font-weight: bold;
	background-color: #AA0000AA;
	padding: 16px;
	flex-grow: 1;
}
.pg2 .message:hover {
	background-color: #AA0000CC;
}
.pg2 .row div {
   flex: 6;
   padding: 16px;

   /* Center Text */
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   background-color: #00000015;

   border: 1px solid #0001;
}
.pg2 .row:nth-child(2) {
   background-color: #fffa !important;
   color: black !important;
}
.pg2 .row:nth-child(2):hover {
	background-color: #fffc !important;
}
.pg2 .row:hover {
   background-color: #00000030;
}
.pg2 .row:nth-child(2n+2) {
   background-color: #00000020;
}
.pg2 .row:nth-child(2n+2):hover {
   background-color: #00000040;
}

/*
==================== Page 3 ====================
*/

.pg3 {
   text-align: center;
}
.pg3 div {
   font-size: 1.5em;
}