@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(./pages.css);

/*
=================== GENERAL ===================
*/

* {
   font-family: 'Open Sans', sans;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;

   transition-duration: 600ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
   overflow: hidden;
   margin: 0;
   padding: 0;
}

body {
   width: 100vw;
   overflow-y: visible;

   background-color: #212121;
   color: white;
   
   /*background: url(https://i.ytimg.com/vi/o-G57Aw37GM/maxresdefault.jpg);*/
   /*background-size: cover;*/
   /*background-repeat: no-repeat;*/
}

#slideshow {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 0;
}

/*
=================== CONTENT AND PAGERS ===================
*/

#content {
   width: 100vw;
   height: 100vh;
   position: absolute;
   background-color: #0009;
   display: flex;
   flex-direction: column;
   top: calc(50px - 100vh);
   z-index: 5;
}
#content.expanded {
   top: 0;
}
#content.expanded ~ #title, #content.expanded ~ .previmg, #content.expanded ~ .nextimg {
   opacity: 0;
}

#pager-wrap {
   flex: 1;
   overflow: hidden;
   scroll-behavior: smooth;
   margin-bottom: 50px;
}
#pager-wrap.lock {
	overflow-x: hidden;
	overflow-y: auto;
}
#pager {
   flex: 1;
   display: flex;
   flex-direction: row;
   width: calc(100vw * 3);
}
#pager div.page {
   width: 100vw;
   padding: 20px;
   background-color: #212121;
}

p {
   text-indent: 60px;
}

/*
=================== NAVIGATION ===================
*/

#nav {
   display: flex;
   background-color: #0005;
   margin: 0;
   padding: 0;
}
#content.expanded #nav {
   background-color: #0003;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
}
#nav a {
   flex: 1; /* Expand to fill as much space as possible */

   /* Center Text */
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   padding: 10px;
   text-decoration: none;
   font-size: 1.5em;
   height: 30px;
}
#nav a:hover {
   background-color: #111;
   color: white;
}
#content.expanded > #nav a:hover {
   background-color: #ffffff44;
   color: black;
}
#nav a.selected {
   background-color: #212121 !important;;
}
#content.expanded > #nav a {
   background-color: #11111155;
   color: white;
}

/*
=================== PAGE TITLE ===================
*/

#title {
   padding: 20px;
   background-color: #0007;
   max-width: 100vw;
   min-width: 100vw;
   bottom: 0;
   position: fixed;

   font-size: 300%;
   font-weight: bold;
   transition-duration: 300ms;
   z-index: 1;
}
#title a {
   font-size: 0.3em;
   position: fixed;
   right: 10px;
   bottom: 10px;
}

/*
=================== SLIDESHOW ===================
*/

.previmg, .nextimg {
	top: calc(50vh - 50px);
	margin: auto;
	width: 45px;
	height: 50px;
	position: fixed;
	font-size: 1.5em;

	background-color: #0007;

	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
}
.previmg:hover, .nextimg:hover {
	background-color: #212121;
	color: #fff;
}

.previmg {
	left: 0;
}

.nextimg {
	right: 0;
}

/*
=================== MOBILE ===================
*/

@media only screen and (max-device-width: 480px) {
	#title {
		font-size: 200%;
	}

	#title a {
	   right: 0;
	   left: 0;
	   bottom: 5px;
	   text-align: center;
	}
}